.main {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: var(--fs-15);

    & .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    & .main-wrapper {
        width: 100%;
        background-color: var(--color-bg-light);
        padding: var(--fs-24);
        display: flex;
        flex-direction: row;
        gap: var(--fs-24);
        border: var(--fs-2) solid var(--color-border-light);
        border-radius: var(--fs-16);
        z-index: 3;

        & .std-form {
            width: 40%;
            height: max-content;
            padding: var(--fs-24);
            display: flex;
            flex-direction: column;
            gap: var(--fs-24);
            border: var(--fs-2) solid var(--color-border-light);
            border-radius: var(--fs-12);

            & h3 {
                font-style: var(--fs-italic);
                color: var(--color-primary);
            }

            & form {
                display: flex;
                flex-direction: column;
                gap: var(--fs-12);
            }
        }

        & .form-container {
            width: 60%;
            padding: var(--fs-24);
            display: flex;
            flex-direction: column;
            gap: var(--fs-24);
            border: var(--fs-2) solid var(--color-border-light);
            border-radius: var(--fs-12);

            & .slider-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: var(--fs-24);

                & .arrow {
                    padding: 0;
                    width: var(--fs-36);
                    height: var(--fs-36);
                    color: var(--color-primary);
                    font-size: var(--fs-24);
                    cursor: pointer;
                    border: var(--fs-2) solid var(--color-primary);
                    border-radius: var(--fs-8);

                    &:disabled {
                        border: var(--fs-2) solid var(--color-border-light);
                        color: var(--color-border-light);
                        cursor: not-allowed;
                    }
                }

                & .subject-title {
                    display: flex;
                    flex-direction: column;
                    gap: var(--fs-24);

                    & .title {
                        font-style: var(--fs-italic);
                        color: var(--color-primary);
                    }
                }
            }

            & .subject-form {
                transition: all .3s ease;

                & form {
                    display: flex;
                    flex-direction: column;
                    gap: var(--fs-24);
                }
            }
        }    
    }
}


@media screen and (max-width: 767px) {
    .main {

        & .main-wrapper {
            flex-direction: column;
            margin: var(--fs-24);

            & .std-form {
                width: 100%;

                & h3 {
                    font-size: var(--fs-20);
                }
            }

            & .form-container {
                width: 100%;

                & h3 {
                    font-size: var(--fs-20);
                }
            }
        }
    }
}